*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; 
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: 1d1d2e;
    width: 500px;

}
section h2{
    color:white;
    font-size: 2.5rem;
    margin-top: 2rem;

}

section form{
  display: flex;
  flex-direction: column;
  width: 100%;

}

section form:focus{
  border-radius: 16px;
}

form label {
  color: white;
  font-size: 17px;
  margin-bottom: 4px;
}

form input{
  padding: 15px;
  outline: none;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
}

form input:focus{
border-radius: 16px;
}

form textarea{
  padding: 15px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
}

form textarea:focus{
  border-radius: 16px;
}

form button{
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background-color: blue;
  border: 2px solid #f5f5f5;
  color: black;
}

form button:hover{
  background-color: black;
  color: white;
  border-radius: 16px;

}

/*Pagina de redirecionamento*/

.primeiro{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
  color: white;
  flex-direction: column;
}

.texto{
  font-size: 45px;
  color:white;
  margin-bottom: 30px;

}

.paragrafo{
  color:antiquewhite;
  margin-bottom: 50px;
}

.botão{
padding: 15px 55px;
background-color: blue;
color: black;
font-size: 18px;
}

.botão:hover{
  border-radius: 16px;
  background-color: e;
  color: black;

}


